@media (max-width: 650px) {
 /* Estilos para mobile */

 /* navbar */
 .ul-header {
  padding-top: 0.5rem;
 }
 .img-mobile {
  width: 1.875rem;
  height: 1.875rem;
  display: block;
 }

 .eti-span {
  display: none;
 }

 /* IMG HCTG */
 .imgHCTG img {
  width: 60%;
  height: 60%;
 }

 /*  Todas las section en columna  */
 .scroll {
  display: flex;
  flex-direction: column;
 }

 /* section inicio */
 .mi-vi {
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 .mision,
 .vision {
  width: 60%;
 }

 /* ubicacion */
 .map {
  width: 60%;
 }
}
