@media (max-width: 600px) {
 /* navbar */

 .ul-header {
  display: none;
 }

 .navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
 }

 /* menu toggle */
 .menu-button {
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 40px;
  height: 36px;
  padding: 7px;
  border-radius: 7px;
  cursor: pointer;
 }

 .menu-button span {
  width: 40px;
  height: 4px;
  background: var(--text);
 }
 .menu-toggle {
  display: none;
 }

 .toggle {
  display: none;
  text-align: center;
  background: var(--background);
  /* border-radius: 7px; */
  padding: 20px;
  /*  width: 150px; */
  margin: auto;
 }

 .toggle li {
  display: none;
  display: block;
  padding: 10px 0;
  color: var(--text);
 }

 .menu-toggle:checked + .toggle {
  display: block;
  margin-top: 3rem;
 }

 /* IMG HCTG */
 .imgHCTG img {
  width: 40%;
  height: 60%;
 }

 /*  footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
 } */
}
