:root {
 --background: cadetblue;
 --text: rgb(61, 61, 61);
}

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 text-decoration: none;
 list-style: none;
 font-family: sans-serif;
 color: var(--text);
 font-size: 100%;
}

html {
 font-family: sans-serif;
 font-size: 100%;
 scroll-behavior: smooth;
}
/* NavBar */

.navbar {
 width: 100%;
 height: 3rem;
 background-color: var(--background);
 position: fixed;
 top: 0;
 z-index: 2;
}

.ul-header {
 display: flex;
 justify-content: space-around;
 padding-top: 1rem;
}

.img-mobile {
 width: 30px;
 height: 30px;
 display: none;
}

/* h1, h2,  hover a, scroll*/

h1 {
 margin-top: 3.5rem;
 text-align: center;
 font-size: 32px;
}

h2 {
 text-align: center;
}
h4 {
 text-align: center;
}
a:hover {
 font-weight: 800;
}
.scroll {
 scroll-margin-top: 3.5rem;
}
/* section inicio - imagen HCTG */

.imgHCTG {
 display: flex;
 justify-content: center;
 margin-top: 3rem;
}

.imgHCTG img {
 width: 40%;
 height: 60%;
}

.mi-vi {
 margin-top: 2rem;
 display: flex;
 justify-content: space-around;
}

.vision,
.mision {
 margin: 0rem 1rem;
 text-align: center;
 width: 40%;
 margin-bottom: 1rem;
}

/* section eq-salud */
.eq-salud {
 margin-top: 1rem;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.masServ {
 display: flex;
 flex-direction: column;
 align-items: center;
}

/* docencia */
.ul-docencia {
 margin-top: 1rem;
 display: flex;
 flex-direction: column;
 align-items: center;
 text-align: center;
}

.img-cursos {
 width: 30px;
 height: 30px;
}

.acc-cursos {
 display: flex;
 justify-content: center;
 align-items: center;
}
/* Contacto */
.img-fbk {
 width: 30px;
 height: 30px;
 margin-right: 3px;
}
.fbk {
 margin-top: 1rem;
 display: flex;
 justify-content: center;
 align-items: center;
}
.contact {
 display: flex;
 justify-content: center;
 align-items: center;
}
.tel img {
 width: 30px;
 height: 30px;
 margin-right: 3px;
}

/* Map Ubicacion */

#ubicacion {
 display: flex;
 flex-direction: column;
 align-items: center;
}
.map {
 margin-top: 1rem;
}
#ubicacion span {
 margin-top: 1rem;
}

/* footer */

footer {
 margin-top: 2rem;
 margin-bottom: 1rem;
 text-align: center;
 font-size: 10px;
 display: flex;
 justify-content: center;
 align-items: center;
}

.soporte-img {
 width: 15px;
 height: 15px;
}

/* historia */
.historia {
 margin: 0 2rem 2rem 2rem;
 text-align: center;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
summary {
 background-color: var(--background);
 border: 1px solid var(--text);
 color: var(--text);
 height: auto;
 width: 165px;
 border-radius: 10px;
 text-align: center;
 box-sizing: border-box;
}

#myDetails {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.mDsummary {
 margin: auto;
}
