:root {
 --background: cadetblue;
 --text: rgb(61, 61, 61);
}

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 text-decoration: none;
 list-style: none;
 font-family: sans-serif;
 color: var(--text);
}

html {
 font-family: "Caveat", cursive, sans-serif;
 font-size: 16px;
 /* scroll-behavior: smooth; */
}
/* NavBar */

.navbar {
 width: 100%;
 height: 3rem;
 background-color: var(--background);
 position: fixed;
 top: 0;
 z-index: 2;
}

.ul-header {
 display: flex;
 justify-content: space-around;
 padding-top: 1rem;
}

.img-mobile {
 width: 1.875rem;
 height: 1.875rem;
 display: none;
}

.ul-header li a::after {
 display: block;
 content: "";
 width: 100%;
 height: 1px;
 background-color: var(--text);
 transform: scaleX(0);
 transform-origin: bottom right;
 transition: transform 0.25s ease-in-out;
}
.ul-header li a:hover::after {
 transform: scaleX(1);
}
/* h1, h2,  hover a, scroll*/

h1 {
 margin-top: 3.5rem;
 text-align: center;
 font-size: 2rem;
 font-family: "Caveat", cursive;
}

h2 {
 text-align: center;
 font-family: "Caveat", cursive;
}
h4 {
 text-align: center;
 font-family: "Caveat", cursive;
}
p {
 font-family: "Caveat", cursive;
 font-size: 1rem;
}
b {
 font-family: "Caveat", cursive;
}
a:hover {
 font-weight: 700;
}
.scroll {
 scroll-margin-top: 3.5rem;
 max-width: 64rem;
 margin: 0 auto 5rem;
}
/* section inicio - imagen HCTG */

.imgHCTG {
 display: flex;
 justify-content: center;
 margin-top: 3rem;
}

.imgHCTG img {
 width: 40%;
 height: 60%;
 border-radius: 1.25rem;
 border: solid 2px var(--text);
}

.mi-vi {
 margin-top: 2rem;
 display: flex;
 justify-content: space-around;
}

.vision,
.mision {
 margin: 0rem 1rem;
 text-align: center;
 width: 40%;
 margin-bottom: 1rem;
 gap: 1rem;
}

/* section eq-salud */
.eq-salud {
 margin-top: 1rem;
 display: flex;
 flex-direction: column;
 width: 100%;
 align-items: center;
}

.eq-salud li {
 width: 100%;
 text-align: center;
}

.masServ {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 1rem;
}

.masServ li {
 width: 100%;
 text-align: center;
}
/* docencia */
.ul-docencia {
 margin-top: 1rem;
 display: flex;
 flex-direction: column;
 align-items: center;
 text-align: center;
}

.img-cursos {
 width: 1.875rem;
 height: 1.875rem;
}

.acc-cursos {
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 1rem;
}
/* Contacto */
.img-fbk {
 width: 1.875rem;
 height: 1.875rem;
 margin-right: 0.1875rem;
}
.fbk {
 margin: 1rem 0 0 0;
 display: flex;
 justify-content: center;
 align-items: center;
}
.contact {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
}
.tel img {
 width: 1.875rem;
 height: 1.875rem;
 margin-right: 0.1875rem;
}

/* Map Ubicacion */

#ubicacion {
 display: flex;
 flex-direction: column;
 align-items: center;
}
.map {
 margin-top: 1rem;
 border-radius: 1.25rem;
 border: solid 2px var(--text);
}
#ubicacion p {
 margin-top: 1rem;
}

/* footer */

footer {
 margin-top: 2rem;
 margin-bottom: 1rem;
 text-align: center;
 font-size: 0.625rem;
 display: flex;
 justify-content: center;
 align-items: center;
}

.soporte-img {
 width: 0.9375rem;
 height: 0.9375rem;
}

/* historia */
.historia {
 margin: 0 2rem 2rem 2rem;
 text-align: center;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 1rem;
}
summary {
 background-color: var(--background);
 border: 1px solid var(--text);
 color: var(--text);
 height: auto;
 width: 10.3125rem;
 border-radius: 0.625rem;
 text-align: center;
 box-sizing: border-box;
}

#myDetails {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.mDsummary {
 margin: auto;
 margin-bottom: 1rem;
}

.space {
 margin-top: 1rem;
}
/* Animacion de inicio */
/* .inicio {
 transform: translateY(0%);
}

@keyframes slideDown {
 from {
  transform: translateY(-100%);
 }
 to {
  transform: translateY(0);
 }
}

.slide-down {
 animation: slideDown 1s ease-in;
} */
